body {
    margin: 0;
    padding: 0;
    background: rgb(240, 239, 239);
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 0;
    font-weight: 400;
}

h2 {
    margin: 0;
    font-weight: 400;
    display: inline;
    ;
}

.box {
    background: #fff;
    width: 50rem;
    padding: 3rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
}

.header {
    display: grid;
    grid-template-columns: 40% 60%;
}

.header-left {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.first-name {
    font-weight: 400;
    margin: 0;
}

.last-name {
    font-weight: 200;
    margin: 0;
}

.header-right {
    width: 100%;
    display: grid;
    justify-content: flex-end;
}

.header-right p {
    display: inline;
}

.icon {
    color: rgb(190, 190, 190);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.grey {
    background-color: rgb(133, 133, 133);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

table {
    border: 5px solid #000;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #000;
    padding: 0.4rem;
}

span {
    font-weight: 600;
}

.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        margin-left: 20%;
    }
    .box {
        margin-left: 100%;
    }
}