.form-container{
	background:#fff;
	padding: 30px;
	border-radius: 10px;
	position: absolute;
	top: 15vh;
	box-shadow: 0px 0px 10px 0px;
}
.bg{
	background:url("gg.jpg") no-repeat;
	width: 100%;
	height: 100vh;
	background-size: 100%;
}
@media only screen and (max-width: 678px){
	.bg{
		background-size: 300%;
	}
}
.p11{
	text-align: center;
	font-weight: 600;
	font-size: 13px ;
	margin-top:-10px;
	color: blue;
	padding: 5%;

}